openssl_conf = openssl_init

[openssl_init]
providers = provider_sect

[provider_sect]
default = default_sect
fips = fips_sect
base = base_sect

[default_sect]
activate = 1

[fips_sect]
activate = 1

[base_sect]
activate = 1
